<h1>Word Frequency</h1>
<form action="/enter" method="post">
  <label for="word">please enter a word to search for</label>
  <input name="word" type="text">
  <label for="sentence">please enter the sentence they want to search</label>
  <input name="sentence" type="text">
  <button type="submit" name="button">see how frequently your word appears in this sentence</button>
</form>
